<?xml version="1.0" encoding="UTF-8" ?>

<!-- In a production app/environment, this file should be excluded from being committed to a repo, i.e. add "*/Config/config.xml" to your .gitignore file. -->
<!-- The .csproj has a custom PreBuild MSBuild target that copies an empty templated config-sensitive.xml to the ~/Config/ folder before build. -->
<!-- In a production evironment, you could merge your app keys into that templated config.xml at build time, thus keeping your sensitive keys out of your repository. -->
<config>
  <!-- Token Header Name -->
  <tokenHeaderName>Token</tokenHeaderName>

  <!-- Token Expiry Header Name -->
  <tokenExpiryHeaderName>TokenExpiry</tokenExpiryHeaderName>

  <!-- Video Url -->
  <videoUrl>x4ever\videos</videoUrl>

  <!--- Audio Url -->
  <audioUrl>x4ever\audio</audioUrl>

  <!--- File Upload Url -->
  <fileUploadUrl>Uploads</fileUploadUrl>

  <!--- User Image Url -->
  <userImageUrl>Userimage</userImageUrl>

  <!--- Document Url -->
  <documentUrl>x4ever\documents</documentUrl>

  <!--Default Application Language-->
  <defaultLanguage>en-US</defaultLanguage>

  <!--Default User Weight Volume-->
  <defaultWeightVolume>kg</defaultWeightVolume>

  <!--Weight Submit Interval-->
  <weightSubmitInterval>7</weightSubmitInterval>

  <!--Weight Submit Interval Period Type-->
  <weightSubmitIntervalType>Days</weightSubmitIntervalType>

  <!--Target Date Calculation-->
  <TARGET_DATE_CALCULATION>0.33</TARGET_DATE_CALCULATION>

  <!--- Testimonials Photo Url -->
  <TESTIMONIAL_PHOTO_URL>x4ever\testimonials\photos</TESTIMONIAL_PHOTO_URL>

  <!--- Testimonials Video Url -->
  <TESTIMONIAL_VIDEO_URL>x4ever\testimonials\videos</TESTIMONIAL_VIDEO_URL>

  <!--- Minimum Current Weight -->
  <MINIMUM_CURRENT_WEIGHT>13.4</MINIMUM_CURRENT_WEIGHT>

  <!--- Maximum Current Weight -->
  <MAXIMUM_CURRENT_WEIGHT>181.4</MAXIMUM_CURRENT_WEIGHT>

  <!--- Minimum Weight Lose-->
  <MINIMUM_WEIGHT_LOSE>4.4</MINIMUM_WEIGHT_LOSE>

  <!--- Maximum Weight Lose-->
  <MAXIMUM_WEIGHT_LOSE>113.4</MAXIMUM_WEIGHT_LOSE>

  <!--- Minimum Age -->
  <MINIMUM_AGE>14</MINIMUM_AGE>

  <!--- Maximum Age -->
  <MAXIMUM_AGE>100</MAXIMUM_AGE>

  <!-- TOP_BAR_LOGO (W*H)-->
  <TOP_BAR_LOGO>73*80</TOP_BAR_LOGO>

  <!-- TOP_BAR_MENU (W*H)-->
  <TOP_BAR_MENU>20*50</TOP_BAR_MENU>

  <!-- TOP_BAR_CLOSE (W*H)-->
  <TOP_BAR_CLOSE>54*52</TOP_BAR_CLOSE>

  <!-- MAIN_PAGE_LOGO (W*H)-->
  <MAIN_PAGE_LOGO>600*480</MAIN_PAGE_LOGO>

  <!-- MAIN_PAGE_x4ever_LOGO (W*H)-->
  <MAIN_PAGE_x4ever_LOGO>900*80</MAIN_PAGE_x4ever_LOGO>

  <!-- MENU_PAGE_USER_IMAGE (W*H)-->
  <MENU_PAGE_USER_IMAGE>70*70</MENU_PAGE_USER_IMAGE>

  <!-- USER_PROFILE_BADGE_ICON (W*H)-->
  <USER_PROFILE_BADGE_ICON>35*35</USER_PROFILE_BADGE_ICON>

  <!-- MILESTONE_ACHEIVEMENT_BADGE_ICON (W*H)-->
  <MILESTONE_ACHEIVEMENT_BADGE_ICON>120*120</MILESTONE_ACHEIVEMENT_BADGE_ICON>

  <!-- BADGE_HINT_WINDOW (W*H)-->
  <BADGE_HINT_WINDOW>325*400</BADGE_HINT_WINDOW>

  <!-- BADGE_HINT_WINDOW (W*H)-->
  <BADGE_HINT_WINDOW_CLOSE>60*60</BADGE_HINT_WINDOW_CLOSE>

  <!-- BADGE_HINT_ICON (W*H) -->
  <BADGE_HINT_ICON>48*48</BADGE_HINT_ICON>

  <!-- EMAIL_CONTROL_ICON (W*H)-->
  <ENTRY_EMAIL_ICON>15*15</ENTRY_EMAIL_ICON>

  <!-- ENTRY_LOCK_ICON (W*H)-->
  <ENTRY_LOCK_ICON>15*15</ENTRY_LOCK_ICON>

  <!-- COUNTRY_FLAG_ICON (W*H)-->
  <COUNTRY_FLAG_ICON>24*24</COUNTRY_FLAG_ICON>

  <!-- MENU_ITEM_ICON (W*H)-->
  <MENU_ITEM_ICON>60*60</MENU_ITEM_ICON>

  <!-- GENDER_IMAGE (W*H)-->
  <GENDER_IMAGE>32*32</GENDER_IMAGE>

  <!-- UPLOAD_CAMERA_IMAGE (W*H)-->
  <UPLOAD_CAMERA_IMAGE>130*85</UPLOAD_CAMERA_IMAGE>

  <!-- MEAL_PLAN_PAGE_MEAL_IMAGE (W*H) -->
  <MEAL_PLAN_PAGE_MEAL_IMAGE>50*50</MEAL_PLAN_PAGE_MEAL_IMAGE>

  <!-- MEAL_PLAN_PAGE_MEAL_HEADER (W*H) -->
  <MEAL_PLAN_PAGE_MEAL_HEADER>600*75</MEAL_PLAN_PAGE_MEAL_HEADER>

  <!-- AUDIO_PLAYER_PAGE_COMMAND_IMAGE (W*H) -->
  <AUDIO_PLAYER_PAGE_COMMAND_IMAGE>70*70</AUDIO_PLAYER_PAGE_COMMAND_IMAGE>

  <!-- VIDEO_PLAYER_PAGE_COMMAND_IMAGE (W*H) -->
  <VIDEO_PLAYER_PAGE_COMMAND_IMAGE>70*70</VIDEO_PLAYER_PAGE_COMMAND_IMAGE>

  <!-- VIDEO_PLAYER_PAGE_COMMAND_IMAGE (W*H) -->
  <VIDEO_PLAYER_PAGE_EXPAND_LIST_IMAGE>40*40</VIDEO_PLAYER_PAGE_EXPAND_LIST_IMAGE>

  <!-- VIDEO_PLAYER_PAGE_COMMAND_IMAGE (W*H) -->
  <VIDEO_PLAYER_PAGE_NOTE_PLAY_IMAGE>20*20</VIDEO_PLAYER_PAGE_NOTE_PLAY_IMAGE>

  <!-- PICTURE_GALLERY_IMAGE (W*H) -->
  <PICTURE_GALLERY_IMAGE>150*200</PICTURE_GALLERY_IMAGE>

  <!-- USER_SETTING_TAB_ICON (W*H) -->
  <USER_SETTING_TAB_ICON>22*22</USER_SETTING_TAB_ICON>

  <!-- CHECKBOX_ICON (W*H) -->
  <CHECKBOX_ICON>14*14</CHECKBOX_ICON>

  <!-- TESTIMONIAL_PERSON_IMAGE (W*H) -->
  <TESTIMONIAL_PERSON_IMAGE>300*200</TESTIMONIAL_PERSON_IMAGE>

  <!-- WORKOUT_OPTIONS_IMAGE (W*H) -->
  <WORKOUT_OPTIONS_IMAGE>500*140</WORKOUT_OPTIONS_IMAGE>
  <!--<WORKOUT_OPTIONS_IMAGE>200*80</WORKOUT_OPTIONS_IMAGE>-->

  <!-- WORKOUT_EXPAND_COLLAPSE_IMAGE (W*H) -->
  <WORKOUT_EXPAND_COLLAPSE_IMAGE>20*20</WORKOUT_EXPAND_COLLAPSE_IMAGE>

  <!-- WORKOUT_PLAY_ICON (W*H) -->
  <WORKOUT_PLAY_ICON>25*25</WORKOUT_PLAY_ICON>

  <!-- WORKOUT_VIDEO_WINDOW (W*H) -->
  <WORKOUT_VIDEO_WINDOW>360*315</WORKOUT_VIDEO_WINDOW>

  <!-- PAGE_IMAGE_SIGN_UP (W*H) -->
  <PAGE_IMAGE_SIGN_UP>140*276</PAGE_IMAGE_SIGN_UP>

  <!-- PAGE_IMAGE_PRODUCTS (W*H) -->
  <PAGE_IMAGE_PRODUCTS>164*206</PAGE_IMAGE_PRODUCTS>

  <!-- PAGE_IMAGE_EARN_REWARDS (W*H) -->
  <PAGE_IMAGE_EARN_REWARDS>220*110</PAGE_IMAGE_EARN_REWARDS>

  <!-- PAGE_IMAGE_LOSE_WEIGHT (W*H) -->
  <PAGE_IMAGE_LOSE_WEIGHT>189*175</PAGE_IMAGE_LOSE_WEIGHT>

  <!-- PAGE_IMAGE_T_SHIRT (W*H) -->
  <PAGE_IMAGE_T_SHIRT>204*246</PAGE_IMAGE_T_SHIRT>

  <!-- PAGE_IMAGE_T_SHIRTS (W*H) -->
  <PAGE_IMAGE_T_SHIRTS_BUNDLE>250*286</PAGE_IMAGE_T_SHIRTS_BUNDLE>

  <!-- PAGE_IMAGE_LINE (W*H) -->
  <PAGE_IMAGE_LINE>140*2</PAGE_IMAGE_LINE>

  <!-- PAGE_IMAGE_BULLET (W*H) -->
  <PAGE_IMAGE_BULLET>3*3</PAGE_IMAGE_BULLET>

  <!-- IMAGE_EYE_HIDE (W*H) -->
  <IMAGE_EYE_PASSWORD>22*15</IMAGE_EYE_PASSWORD>

</config>