<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="certFilePath" value="aps.cer" />
    <add key="certPassword" value="Abcd1234!@#" />
    <add key="apnsRequestUrl" value="gateway.push.apple.com" /><!--value="https://api.push.apple.com/3/device/{0}"/>-->
    <add key="apnsRequestUrlPort" value="2195" />
    <add key="apnsHost" value="gateway.push.apple.com" />
  </appSettings>
</configuration>